.sidebar_voice{
    display: flex;
    padding: 10px;
    color:gray;
    justify-content: space-between;
    align-items: center;
    background-color: #2f3135;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

}
.sidebar_voiceInfo{
    flex:1;
    padding: 10px;
    color: #4fb185;
}
.sidebar_voiceInfo > p {
    font-size: smaller;
} 
.sidebar_voiceIcons > .MuiSvgIcon-root{
    padding: 10px;
}
.sidebar_voiceIcons{
    display: flex;
    flex-direction: column;
}