.sidebarChannels_list{
    padding-left: 20px;
    color: gray;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}

.sidebarChannel_hash{
    padding:8px;
    font-size: 30px;
}
.sidebarChannel:hover{
    background-color: rgba(128, 128, 128, 0.205);
}